@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.ag-theme-alpine .ag-header {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)/var(--tw-bg-opacity)));
    border-bottom: solid 1px;
    border-bottom-color: hsl(var(--b3, var(--b2)/var(--tw-bg-opacity)));
  }
  
  .ag-theme-alpine .ag-row {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
    border-width: 1px;
    border-color: hsl(var(--b3, var(--b1)/var(--tw-bg-opacity)));
    border-bottom-style: solid;
  }
  
  .ag-theme-alpine .ag-row-odd {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
  }
  
  .ag-theme-alpine .ag-row-hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc)/var(--tw-text-opacity));
  }
  
  .ag-header-group-cell-label,
  .ag-header-cell-label {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    align-items: center;
    text-overflow: ellipsis;
    align-self: stretch;
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
  }
  
  .ag-center-cols-viewport {
    /* width: 100%; */
    overflow-x: auto;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
  }
  
  .ag-theme-alpine .ag-paging-panel {
    background-color: hsl(var(--b2, var(--b1)/var(--tw-bg-opacity)));
    border-top: 1px solid;
    border-top-color: hsl(var(--b2, var(--b1)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
  }
  
  .card-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: var(--padding-card, 0.5rem);
    gap: 0.5rem;
}

  .modal-box {
    max-height: calc(100vh - 5em);
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
    padding: 0.1rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 91.666667%;
    max-width: 32rem;
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-top-left-radius: var(--rounded-box, 1rem);
    border-top-right-radius: var(--rounded-box, 1rem);
    border-bottom-left-radius: var(--rounded-box, 1rem);
    border-bottom-right-radius: var(--rounded-box, 1rem);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    overflow-y: hidden !important;
  }